html {
  scroll-behavior: smooth;
}

.metaportal_fn_leftnav .nav_holder .active ~ .sub-menu {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.metaportal_fn_leftnav .nav_holder .active ~ .sub-menu::-webkit-scrollbar {
  width: 0px;
}
#ripple {
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px; /* Ancho de la scrollbar */
}

::-webkit-scrollbar-track {
  background: #b100b4; /* Fondo de la scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #340035; /* Color del pulgar de la scrollbar */
  border-radius: 10px; /* Radio de borde del pulgar */
  border: 2px solid transparent; /* Borde transparente para mantener el tamaño del pulgar */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #540054; /* Color del pulgar al pasar el mouse (puedes ajustarlo si deseas) */
}

/* Para Firefox */
html {
  scrollbar-width: thin; /* Grosor de la scrollbar */
  scrollbar-color: #340035 rgb(27,18,29); /* Color del pulgar y fondo de la scrollbar */
}